/* 
BUG? For some reason I have to set the table width 390px to make it fit on the page for large posts, even though 800px should suffice.
Also the post content is showing up in the edit cell for some reason, such as when I use links... I have no idea why.

UPDATE: I have to set the value for content using single quotes instead of double quotes, because when I use double quotes in the post it causes the above errors.
However the Jehova post still continues to have this problem.

UPDATE: I switched back to double quotes for EL and single quotes for the posts. The problem is that words like "John's" cause problems because of the single quote.
At this state all posts made should only use single quotes, never double quotes or the Post Manager throws some of the content into the edit cell in the table.
*/

h1,h2,h3,p,nav ul,form { margin:0; padding:8px;  }
input,textarea { margin:0 0 8px 0; }
table { margin:8px; }
.post_content, #Comments, #AboutContent, .comment { padding:8px; }
.post_content p, #AboutContent p { padding:8px 0; }

h1,h2,h3 { font-family:Arial Black; }
h3 { border-bottom:1px solid #000; margin:8px; padding:0; }
div.post { margin:8px; }
div.title { font-size:120%; font-weight:bold; font-family:Arial Black; }
table { width:784px; }

#Page { width:800px; margin:0 auto; border:1px solid #000; box-shadow:0 0 8px #666; }
nav li { display:inline; padding-right:20px; }
nav a { color:#000; text-decoration:none; font-family:Arial; }
nav a:hover { text-decoration:underline; }
nav a:active { color:#060; }

#Index nav li:nth-of-type(1) { font-weight:bold; }
#Gallery nav li:nth-of-type(2) { font-weight:bold; }
#About nav li:nth-of-type(3) { font-weight:bold; }

fieldset { margin:8px 32px; padding:8px; }
legend { font-size:80%; font-weight:bold; color:#666; }
form#WebsiteSettings input[type=submit] { margin-top:16px; font-size:120%; }
input#Title { width:280px; }
input[type=submit].linkify { background:none; border:0; color:#f00; text-decoration:underline; }
form#WebsiteSettings label { width:140px; display:block; float:left; }

form#CommentForm { border:1px dashed #ddd; }
#Commments { border:1px solid #f00; }
#Comments .author { font-weight:bold; }
#Comments .author:before { content:"-"; }

/* ------GALLERY-------- */
.g10, .g8, .g6, .g4 { text-align:center; }
.g10 img, .g8 img, .g6 img, .g4 div.img { margin:2px; border:1px solid #000; }
.g10 img { width:9%; }
.g8 img { width:11%; }
.g6 img { width:15%; }
.g4 div.img  { width:194px; }
.g4 img { width:100%; vertical-align:bottom; }

/* ------COLOR THEMES-------- */
body.Default header { background:#99b; }
body.Default nav { background:#aac; }

body.Red header { background:#d00; }
body.Red nav { background:#b00; }

body.Orange header { background:#f90; }
body.Orange nav { background:#e80; }

body.Yellow header { background:#ff0; }
body.Yellow nav { background:#fe0; }

body.Green { background:#efe; }
body.Green header { background:#0d0; }
body.Green nav { background:#0b0; }

body.Blue header { background:#66d; }
body.Blue nav { background:#44b; }

body.Indigo header { background:#4b0082; color:#b600f6; text-shadow:0 0 4px #000; }
body.Indigo nav { background:#6d00a4; }

body.Violet header { background:#9400d3; }
body.Violet nav { background:#b600f6; }

body.Space { background:url("astroempires.com_home10.jpg"); color:#fff; }
body.Space header { background:#000; }
body.Space nav { background:#999; }
body.Space a { color:#fa0; }
body.Space nav a { color:#000; }

body.Flower { color:#efe; background:#efe; }
body.Flower #Page { background:url("coolsbackgrounds.blogspot.com_Cool-Wallpapers-3_CROPPED.jpg"); }
body.Flower header { background:#0d0; color:#000; }
body.Flower nav { background:#0b0; }
body.Flower article a { color:#0f0; }

/* ------MISC-------- */
#AdminControl, #LinksForLoggingOn { margin:8px; float:right; }

.img { float:left; }
.description { background:#EEE; }

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.bug { color:#F00; }