<%@ tag language="java" pageEncoding="ISO-8859-1" import="entities.Post,entities.Comment" %>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<h3>Comments</h3>
<section id="Comments">
     <c:forEach var="comment" items="${comments}">
     	<div class="comment">
     	<div class="author">
     		${comment.getPoster().getName() }
     	</div>
     		<div class="content">
     			${comment.getContent()}
     			<!--  DELETE BUTTON -->
     			<form method="post" action="CommentServlet.do">
     				<input type="hidden" name="crudType" value="delete" />
     				<input type="hidden" name="post" value="${comment.getParentalPost().getPostId() }"/>
     				<input type="hidden" name="commentId" value="${comment.getCommentId()}" />
     				<input type="submit" value="delete" class="linkify" />
     			</form>
     			
     		</div>
     	</div>
     </c:forEach>
</section>