<%@ tag language="java" pageEncoding="ISO-8859-1"%>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>

<div id="AdminControl">
   	<a href="CreatePost.jsp">New Post</a> /
   	<a href="PostManager.do">Manage Posts</a> /
   	<a href="Settings">Settings</a>
</div>