<%@ tag language="java" pageEncoding="ISO-8859-1"%>

<form method="POST" action="j_security_check">
	User Name: <input type="text" name="j_username" /><br/>
	Password: <input type="password" name="j_password" /><br/>
	<input type="submit" value="Login" />
</form>
